.MovieSummary {
  background-color: lightcoral;
  width: 100%;
  >.container {
    background-color: purple;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    .trailer {
      grid-column: 1 / -1;
      display: flex;
      justify-content: center;
      align-items: center;
      svg{
        position: absolute;
        margin: auto auto;
      }
      img {
        width: 100%;
      }
    }
    .cover {
      grid-column: 1 / 1 ;
      line-height: 0;
    }
    .content {
      grid-column:  2 / -1;
      padding: 0 5px;
      display: flex;
      flex-direction: column;
      >.header{
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        justify-content: center;
        align-items: center;
        .separator{
          justify-self: center;
          background-color: red;
          width: 90%;
          height: 5px;
        }
        .title{
          font-weight: bold;
        }
      }
      .consensus{
       margin-top: 10px;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       text-align: center;
       .text {
         font-weight: bold;
       }
      }
      .rating {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
  }
}