.Section {
  background-color: green;
  display: flex;
  flex-direction: column;
  .header {
    display: grid;
    grid-template-columns: 1fr auto 8fr;
    grid-gap: 5px;
    .separator {
      height: 100%;
      width: 100%;
      background-color: red;
    }
   }
}